<!DOCTYPE html>
<html>
<head>
  <title>ServiceApi</title>
  <%= stylesheet_link_tag    "service_api/application", media: "all" %>
  <%= javascript_include_tag "service_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= link_to 'Home Page', main_app.root_url %>
<%= yield %>

</body>
</html>
